.Menu{
  border:outset;
  border-color:mediumspringgreen;
  
  
}
.name{
    border:outset;
    color:white;
    background-color: black;
    font-family:fantasy;
}

.bodyimg{
  border: 2px solid black;

}

.grid{
  display:flex;
  flex-direction: column wrap;
}

.GUDBYE{
  border:outset;
  border-radius: 20px;
  width:310px;
  background-color:tan;
  display:flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}